.statsWrapper {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 2.5% 0;
    align-content: center;
    align-items: center;
    text-align: center;
}

.stat {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-color: #E6E8E6;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.statValue {
    align-self: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    color: #468847;
    font-weight: 700;
}

@media only screen and (max-width: 1440px) {
    .statValue {
        font-size: 1.5rem;
    }

    .stat {
        width: 35%;
    }
}

@media only screen and (max-width: 1170px) {

    .statsWrapper {
        width: 100%;
    }

    .stat {
        width: 45%;
    }

    .statValue {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    /* .statsWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    } */

    .stat {
        width: 100%;
    }

    .statValue {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 375px) {
    .statsWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .stat {
        width: 100%;
    }

    .statValue {
        font-size: 3rem;
    }
}