.homePage {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    font-family: 'Montserrat', sans-serif;
    color: #242325;
}

.pub {
    /* background-color: #242325; */
    min-height: 10px;
    min-width: 10px;
}

.PageTitle {
    display: flex;
    justify-content: center;
    text-align: center;
}

.interactive {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.displayArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
}

.hero {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 2rem;
    min-width: 175px;
}

.simInput {
    display: flex;
    flex-direction: column;
}

.simInput input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.timeFrameControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
    min-width: 170px;
}

.switch {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E6E8E6;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 13px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #468847;
}

input:focus+.slider {
    box-shadow: 0 0 1px #468847;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

@media only screen and (max-width: 768px) {
    .homePage {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-template-columns: 2fr 8fr 2fr;
    }

    .interactive {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero {
        flex-direction: column;
        width: 80%;
    }

    .PageTitle {
        font-size: 12px;
    }

    .inputArea {
        margin: 2rem 0;
        padding-top: 0;
        justify-content: center;
    }
}

@media only screen and (max-width: 375px) {
    .homePage {
        grid-template-columns: 1fr 10fr 1fr;
    }

    .hero {
        width: 100%;
    }
}